<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>{{title}}></title>
		<link href="css/style.css" rel="stylesheet" type="text/css" />
	</head>

<body>

	<div id="container">

		<div id="banner"><a href="."><img src="img/trr.gif" alt="Thunder Road Racing" width="726" height="100"></a></div>

		<div id="middle">

			<div id="navcol">

				<div id="info">

					<div class="navhead">info</div>

					<div class="infoitem"><a href=".">Home</a></div>
					<div class="infoitem"><a href="about">About</a></div>
					<div class="infoitem"><a href="contact">Contact</a></div>

				</div>


				<div id="menu">

					<div class="navhead">projects</div>

					<div class="menutitle">1938 Indian Jr. Scout</div>
					<div class="menuitem"><img src="img/arrow.gif" width="10" height="12" alt=">">&nbsp;<a href="unveiling">The Unveiling</a></div>
					<div class="menuitem"><img src="img/arrow.gif" width="10" height="12" alt=">">&nbsp;<a href="testrun1">Test Run #1</a></div>
					<div class="menuitem"><img src="img/arrow.gif" width="10" height="12" alt=">">&nbsp;<a href="testrun2">Test Run #2</a></div>
					<div class="menuitem"><img src="img/arrow.gif" width="10" height="12" alt=">">&nbsp;<a href="testrun3">Test Run #3</a></div>
					<div class="menuitem"><img src="img/arrow.gif" width="10" height="12" alt=">">&nbsp;<a href="bonneville">Bonneville Race Day</a></div>
					<div class="menuitem"><img src="img/arrow.gif" width="10" height="12" alt=">">&nbsp;<a href="celebration">Record Celebration</a></div>

					<div class="menutitle">Ted's Harley 45 Prototype</div>
					<div class="menuitem"><img src="img/arrow.gif" width="10" height="12" alt=">">&nbsp;<a href="45_peek">Peek</a></div>

				</div>



				<div id="links">

					<div class="navhead">links</div>

					<div class="linkitem"><a href="http://www.members.shaw.ca/thunderroad38/site.htm"><img src="img/tr.gif" width="178" height="49" alt="Thunder Road"></a></div>
					<div class="linkitem"><a href="http://www.classicbritish.ca/"><img src="img/amcm.gif" width="178" height="49" alt="AMCM"></a></div>
					<div class="linkitem"><a href="http://www.antiquemotorcycle.org/"><img src="img/amca.gif" width="178" height="49" alt="AMCA"></a></div>
					<div class="linkitem"><a href="http://www.geocities.com/keystonesectionwpg/"><img src="img/ks-cvmg.gif" width="178" height="49" alt="CVMG-MB"></a></div>
					<div class="linkitem"><a href="http://www.speedtrialsbybub.com/"><img src="img/bub.gif" width="178" height="49" alt="BUB"></a></div>

				</div>

			</div>

			<div id="maincol">

				<div id="crumbs">{{{crumbspath}}}</div>

				<div id="title">{{title}}</div>

				<div id="content">

          {{> @partial-block }}

				</div>

			</div>

		</div>

    <div id="footer">

      <div id="lfoot">contact: ro<b></b>ss@metcal<b></b>femotorcycles.<b></b>com</div>
      <div id="rfoot">&#169; MetcalfeMotorcycles.com 2005-2008</div>

    </div>

</body>

</html>
