{{#> layouts/base title="Bonneville '06 - Ted's Harley 45 Prototype" crumbspath="<a href=\".\">Thunder Road Racing</a> &#187 {{title}}" }}

	Here's a sneak peek at a bike that is destined to be legendary.

	<p />

	<div style="text-align: center;">

		<img src="img/45_peek/snap.jpg" width="400" height="242">

		<p />


		<hr />

		<p />

		<img src="img/45_peek/whatsnext1.jpg" width="400" height="300">
		<p />
		<img src="img/45_peek/whatsnext2.jpg" width="400" height="300">
		<p />
		<img src="img/45_peek/whatsnext3.jpg" width="400" height="300">
		<p />
		<img src="img/45_peek/whatsnext4.jpg" width="400" height="300">
		<p />
		<img src="img/45_peek/whatsnext5.jpg" width="300" height="400">
		<p />
		<img src="img/45_peek/whatsnext6.jpg" width="400" height="300">
		<p />
		<img src="img/45_peek/whatsnext7.jpg" width="400" height="300">

	</div>

{{/layouts/base}}
