{{#> layouts/base title="About Us" crumbspath="<a href=\".\">Thunder Road Racing</a> &#187 {{title}}" }}

	The Thunder Road Racing Team is made up of four 50+ antique motorcycle guys who restore and ride old vintage iron.  The latest project on the go is this 1938 Indian 30.50 Jr. Scout, which has already proven itself at the <a href="http://www.speedtrialsbybub.com/">Bonneville Salt Flats</a> in September 2005, by breaking the AMA National Speed Record in its class.
	<p />

	<div style="text-align: center;">
		<a href="img/team.jpg"><img src="img/team_thumb.gif" width="284" height="213"></a>
		<br />
		<div class="caption">(L-R: Gary MacDonald, Ted Hector, Ross Metcalfe, Siggi Klann)</div>
	</divr>

	<p />
	Ted (the only guy under 200 lbs) is our rider. The current record is now 78mph.
	<p />


	<div style="text-align: center;">
		<a href="img/jrscout.jpg"><img src="img/jrscout_thumb.gif" width="284" height="213"></a>
		<br />
		<div class="caption">(Thunder Road Racing's 1938 Indian 30.50 Jr. Scout)</div>
	</div>
	<p />
	The Indian is stock except for magneto, carb, and rims. The engine is stock except for some cam work.


	<p />


	<div style="text-align: center; font-style: italic;">"Long Live Flat Heads"</div>

{{/layouts/base}}
