{{#> layouts/base title="Best of Show Again... Times Two!" crumbspath="<a href=\".\">Thunder Road Racing</a>" }}

	<div class="newshead">08/27/06</div>
	The 1938 Indian made a trip out to the recent Harley and Hotrods Bike & Car Show at the Morden Corn and Apple Festival, making away with awards in two categories. Not only did the motorcycle competitors vote it as Best Motorcycle Of Show, but a second round of voting by the car entrants placed it at number one as well (Best Bike).

	<p /><hr />

	<div class="newshead">08/26/06 - Ted Returns to Bonneville with Harley Prototype</div>
	Ted has returned to the Salt Flats to secure a second land speed record at Bonneville, this time with a 1954 HD flathead 45ci (servicar). After 10 months of hard labour- he and Gary will challenge the salt once again.
	<p />
	> <a href="45_peek">see pics</a>

	<p /><hr />

	<div class="newshead">04/21/06 - '38 Indian wins Best of Show</div>
	The little red 1938 Indian ran away with "Best of Show" at the 32nd annual World of Wheels, held at the Winnipeg Convention Centre, March 31-April 2, 2006.

	<p /><hr />

	<div class="newshead">04/09/06 - The Sidemount Reporter features our Junior Scout</div>
	The Thunder Road Racing Junior Scout was the focus of a feature article in The Sidemount Reporter magazine, of the <a href="http://www.mcaac.mb.ca/">Manitoba Classic and Antique Automobile Club</a> (Vol. 41, Issue 4. April 2006).

	<p /><hr />

	<div class="newshead">03/12/06 - Ted Hector's HD45 Prototype - coming...</div>
	The vintage harley 45 prototype is soon to be ready for paint and an initial test run. Ted Hector has devoted the entire winter to this soon to be legendary racing prototype. Stay tuned for future updates and links.

	<p /><hr />

	<div class="newshead">03/08/06 - Canadian Biker features Bonneville story</div>
	The World's Fastest Junior Scout is featured in the April issue of <a href="http://www.canadianbiker.com/">Canadian Biker Magazine</a>. You can find it on newsstands at any major magazine retailer like Chapters.
	<p />
	Apparently you can also go to <a href="http://www.canadianbiker.com/">their website</a> and fill out a quick survey to read an issue electronically for free.

	<p /><hr />

	<div class="newshead">02/24/06 - Story told in Edmonton Journal</div>
	Ross' lecture at the Wetaskiwin Museum (just outside Edmonton, Alberta) was a hit with those who came out. A journalist from the Edmonton Journal was there and gave us a nice little writeup in today's edition. You can read it online here:
	<p />
	> <a href="http://www.canada.com/edmontonjournal/news/driving/story.html?id=2697ebf9-a161-4be7-aa70-873a0e66ee9b">Canadians set speed record with vintage motorcycle</a>

	<p /><hr />

	<div class="newshead">02/03/06 - World's Fastest Indian hits the big screen</div>
	It seems someone liked our idea of racing an Indian so much they went back in time forty years to do it themselves.
	<p />
	The 60's saw Burt Munro repeatedly break the world's land speed record for 61 cubic-inch motorcycles on his 1920 Indian, well past the age most riders would have already retired (one way or another). <a href="http://www.worldsfastestindian.com/">The World's Fastest Indian</a> starring Sir Anthony Hopkins premieres today, check it out.
	<p />
	EDIT: Apparently the release date has been pushed back, so check your newspaper listings in the next couple of weeks.

	<p /><hr />

	<div class="newshead">01/31/06 - '38 Indian featured in Winnipeg Sun article</div>
	Laurie Mustard of The Winnipeg Sun wrote a very nice article on Thunder Road Racing's Indian, Friday, January 27th, 2006. <a href="articles/wpgsun-jan27_06.pdf">You can read the article here</a>.

	<p /><hr />

	<div class="newshead">01/22/06 - Jr. Scout to be part of Lecture Series</div>
	Ross has prepared a presentation on behalf of the Thunder Road Racing Team as part of the <a href="http://www.machinemuseum.net/">'Life and Times of the Motorcycle' Lecture Series and Exhibition</a>, as presented by the <a href="http://www.machinemuseum.net/">Reynold's-Alberta Museum</a> in Wetaskiwin, Alberta.
	<p />
	He'll be chronicling the conception, construction, and impressive performance of our beloved little Indian, February 19th at 2pm. The event is open to the public, with more information to be found on <a href="http://www.machinemuseum.net/">their website</a>.

	<p /><hr />

	<div class="newshead">11/28/05 - A new project in the works?</div>
	Word on the street has it that Ted Hector of Thunder Road Racing is taking steps towards securing yet another vintage class world record for as soon as 2006. Further updates will be posted as information becomes available.

	<p /><hr />

	<div class="newshead">11/19/05 - AMCA article profiling our Jr. Scout</div>
	<a href="http://www.antiquemotorcycle.org/TheMagazine/themagazine.html"><i>The Antique Motorcycle</i></a>, the official publication of the <a href="http://www.antiquemotorcycle.org/">Antique Motorcycle Club of America</a>, ran an article profiling the adventures of the little Indian Scout in its most recent issue. <a href="articles/amca_winter2005.pdf">Click here to read it</a> (Rick Schunk, Winter Issue 2005, Vol. 44, No. 4, pg. 14-15)

	<p /><hr />

	<div class="newshead">09/06/05 - Official AMA National Speed Record!</div>
	Thunder Road Racing's 1938 Indian Junior Scout has set a new AMA National Record for a modified vintage gasoline 500cc motorcycle (M-VG-500).  The bike succeeded in averaging 78.163mph over two one-mile runs on the Salt Flats of Bonneville, Utah.
	<p />
	<a href="articles/ama_certificate.pdf">Click here to view the official AMA certificate</a>

{{/layouts/base}}
