{{#> layouts/base title="Test Run #1" crumbspath="<a href=\".\">Thunder Road Racing</a> &#187 {{title}}" }}

	May 23rd, 2005

	<p />

	The engine ran "lean" and the main jet needs to be changed in the carb.

	<p />

	<ul>
	<li>1st run: 73mph</li>
	<li>2nd run: 78mph</li>
	<li>3rd run: 68mph</li>
	</ul>

	<p />
	The current world record in its class is 74mph.

	<p />

	Stay tuned for future racing updates.


	<p />

	<hr />

	<p />

	Some photos/video of the runs:
	<br />
	(click to enlarge)


	<p />
	<iframe width="560" height="315" src="https://www.youtube.com/embed/eRjbXK5aF-U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<p />


	<a href="img/testrun1/01.jpg"><img src="img/testrun1/thumbs/01.gif" width="100" height="75"></a>
	<a href="img/testrun1/02.jpg"><img src="img/testrun1/thumbs/02.gif" width="100" height="75"></a>
	<a href="img/testrun1/03.jpg"><img src="img/testrun1/thumbs/03.gif" width="100" height="75"></a>
	<a href="img/testrun1/04.jpg"><img src="img/testrun1/thumbs/04.gif" width="100" height="75"></a>
	<a href="img/testrun1/05.jpg"><img src="img/testrun1/thumbs/05.gif" width="100" height="75"></a>
	<a href="img/testrun1/06.jpg"><img src="img/testrun1/thumbs/06.gif" width="100" height="75"></a>
	<a href="img/testrun1/07.jpg"><img src="img/testrun1/thumbs/07.gif" width="100" height="75"></a>
	<a href="img/testrun1/08.jpg"><img src="img/testrun1/thumbs/08.gif" width="100" height="75"></a>
	<a href="img/testrun1/09.jpg"><img src="img/testrun1/thumbs/09.gif" width="100" height="75"></a>
	<a href="img/testrun1/10.jpg"><img src="img/testrun1/thumbs/10.gif" width="100" height="75"></a>
	<a href="img/testrun1/11.jpg"><img src="img/testrun1/thumbs/11.gif" width="100" height="75"></a>
	<a href="img/testrun1/12.jpg"><img src="img/testrun1/thumbs/12.gif" width="100" height="75"></a>
	<a href="img/testrun1/13.jpg"><img src="img/testrun1/thumbs/13.gif" width="100" height="75"></a>
	<a href="img/testrun1/14.jpg"><img src="img/testrun1/thumbs/14.gif" width="100" height="75"></a>
	<a href="img/testrun1/15.jpg"><img src="img/testrun1/thumbs/15.gif" width="100" height="75"></a>
	<a href="img/testrun1/16.jpg"><img src="img/testrun1/thumbs/16.gif" width="100" height="75"></a>
	<a href="img/testrun1/17.jpg"><img src="img/testrun1/thumbs/17.gif" width="100" height="75"></a>
	<a href="img/testrun1/18.jpg"><img src="img/testrun1/thumbs/18.gif" width="100" height="75"></a>
	<a href="img/testrun1/19.jpg"><img src="img/testrun1/thumbs/19.gif" width="100" height="75"></a>
	<a href="img/testrun1/20.jpg"><img src="img/testrun1/thumbs/20.gif" width="100" height="75"></a>
	<a href="img/testrun1/21.jpg"><img src="img/testrun1/thumbs/21.gif" width="100" height="75"></a>
	<a href="img/testrun1/22.jpg"><img src="img/testrun1/thumbs/22.gif" width="100" height="75"></a>
	<a href="img/testrun1/23.jpg"><img src="img/testrun1/thumbs/23.gif" width="100" height="75"></a>
	<a href="img/testrun1/24.jpg"><img src="img/testrun1/thumbs/24.gif" width="100" height="75"></a>
	<a href="img/testrun1/25.jpg"><img src="img/testrun1/thumbs/25.gif" width="100" height="75"></a>
	<a href="img/testrun1/26.jpg"><img src="img/testrun1/thumbs/26.gif" width="100" height="75"></a>
	<a href="img/testrun1/27.jpg"><img src="img/testrun1/thumbs/27.gif" width="100" height="75"></a>
	<a href="img/testrun1/28.jpg"><img src="img/testrun1/thumbs/28.gif" width="100" height="75"></a>
	<a href="img/testrun1/29.jpg"><img src="img/testrun1/thumbs/29.gif" width="100" height="75"></a>
	<a href="img/testrun1/30.jpg"><img src="img/testrun1/thumbs/30.gif" width="100" height="75"></a>
	<a href="img/testrun1/31.jpg"><img src="img/testrun1/thumbs/31.gif" width="100" height="75"></a>
	<a href="img/testrun1/32.jpg"><img src="img/testrun1/thumbs/32.gif" width="100" height="75"></a>
	<a href="img/testrun1/33.jpg"><img src="img/testrun1/thumbs/33.gif" width="100" height="75"></a>
	<a href="img/testrun1/34.jpg"><img src="img/testrun1/thumbs/34.gif" width="100" height="75"></a>
	<a href="img/testrun1/35.jpg"><img src="img/testrun1/thumbs/35.gif" width="100" height="75"></a>

	<p />

	<div style="width: 49%; float: left"><a href="unveiling">&#171; The Unveiling</a></div>
	<div style="width: 49%; float: left; text-align: right;"><a href="testrun2">Test Run #2 &#187;</a></div>


{{/layouts/base}}
