{{#> layouts/base title="Test Run #2" crumbspath="<a href=\".\">Thunder Road Racing</a> &#187 {{title}}" }}


	On June 4th, the Thunder Road Racing Team re-convened (minus Siggi, who had gone to Germany to attend the antique motorcycle of America European swap meet). The 'little' Indian had the main jet changed, the rear fender nut locktighted down and the front tire properly aligned and back on the bead.
	<p />
	Conditions were good, and Ted's first run was a respectable 75mph. From there he hit 77mph, 76mph and a solid 79mph (which seemed like it was in the mid 80's). At this point we started to question our $80 baseball radar machine.
	<p />
	After some debate, we decided to advance the timing a 1/4-inch turn of the mag. Following that, a slow speed approach to the staging area led to the engine seizing right up- "Oh Shit."
	<p />
	After sliding a bit of oil down the cylinder, the old Indian fired up with a roar, and we called it a day. We loaded up the bike, and Ted and Gary took it back to the shop.
	<br />
	The cylinder was 'hot' over halfway to the bottom. Needless to say, the mag has been returned to the original setting and the cylinder has undergone a quick 'hone job'.
	<p />
	We're now ready for <a href="testrun3">Test Run #3</a>.
	<p />
	Will this little flat head crack 80mph? We think it will.


	<p>

	<a href="img/testrun2/00.jpg"><img src="img/testrun2/thumbs/00.gif" width="100" height="75"></a>
	<a href="img/testrun2/01.jpg"><img src="img/testrun2/thumbs/01.gif" width="100" height="75"></a>
	<a href="img/testrun2/02.jpg"><img src="img/testrun2/thumbs/02.gif" width="100" height="75"></a>
	<a href="img/testrun2/03.jpg"><img src="img/testrun2/thumbs/03.gif" width="100" height="75"></a>
	<a href="img/testrun2/04.jpg"><img src="img/testrun2/thumbs/04.gif" width="100" height="75"></a>
	<a href="img/testrun2/05.jpg"><img src="img/testrun2/thumbs/05.gif" width="100" height="75"></a>
	<a href="img/testrun2/06.jpg"><img src="img/testrun2/thumbs/06.gif" width="100" height="75"></a>
	<a href="img/testrun2/07.jpg"><img src="img/testrun2/thumbs/07.gif" width="100" height="75"></a>
	<a href="img/testrun2/08.jpg"><img src="img/testrun2/thumbs/08.gif" width="100" height="75"></a>
	<a href="img/testrun2/09.jpg"><img src="img/testrun2/thumbs/09.gif" width="100" height="75"></a>
	<a href="img/testrun2/10.jpg"><img src="img/testrun2/thumbs/10.gif" width="100" height="75"></a>
	<a href="img/testrun2/11.jpg"><img src="img/testrun2/thumbs/11.gif" width="100" height="75"></a>
	<a href="img/testrun2/12.jpg"><img src="img/testrun2/thumbs/12.gif" width="100" height="75"></a>
	<a href="img/testrun2/13.jpg"><img src="img/testrun2/thumbs/13.gif" width="100" height="75"></a>
	<a href="img/testrun2/14.jpg"><img src="img/testrun2/thumbs/14.gif" width="100" height="75"></a>
	<a href="img/testrun2/15.jpg"><img src="img/testrun2/thumbs/15.gif" width="100" height="75"></a>
	<a href="img/testrun2/16.jpg"><img src="img/testrun2/thumbs/16.gif" width="100" height="75"></a>
	<a href="img/testrun2/17.jpg"><img src="img/testrun2/thumbs/17.gif" width="100" height="75"></a>
	<a href="img/testrun2/18.jpg"><img src="img/testrun2/thumbs/18.gif" width="100" height="75"></a>
	<a href="img/testrun2/19.jpg"><img src="img/testrun2/thumbs/19.gif" width="100" height="75"></a>
	<a href="img/testrun2/20.jpg"><img src="img/testrun2/thumbs/20.gif" width="100" height="75"></a>
	<a href="img/testrun2/21.jpg"><img src="img/testrun2/thumbs/21.gif" width="100" height="75"></a>
	<a href="img/testrun2/22.jpg"><img src="img/testrun2/thumbs/22.gif" width="100" height="75"></a>
	<a href="img/testrun2/23.jpg"><img src="img/testrun2/thumbs/23.gif" width="100" height="75"></a>

	<p />




	<div style="width: 49%; float: left"><a href="testrun1">&#171; Test Run #1</a></div>
	<div style="width: 49%; float: left; text-align: right;"><a href="testrun3">Test Run #3 &#187;</a></div>

{{/layouts/base}}
